<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Update Employee Company</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
  	input{
  		width:  100%;
  		margin-bottom: 10px;
  	}
  	button{
  		margin-bottom: 10px;
  		width: 69px;
  	}
  </style>
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      	<a class="navbar-brand mr-1" href="/" style="text-transform: uppercase">Phần mềm quản lý</a>
    </nav>
    <ul class="sidebar navbar-nav bg-dark" style="position: absolute;width: 15%;height:100%">
       
        <li class="nav-item">
          <a class="nav-link" href="/company" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Company</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employeeCompany" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Employee Company</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/service" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Service</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employeeBuilding" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Employee Building</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Payment</span>
          </a>
        </li>
    </ul>
    <div class="container pt-2 border border-dark rounded-lg" style="position: absolute;left: 25%;top: 10% ;width: 600px">
	<h1>Update Employee Company!</h1>
	<form th:object="${employee}" method="POST">
		<input name="_method" type="hidden" value="PUT" />
		<label>Nhap accessCard</label>
		<input type="text" th:field="*{accessCard}"><br><br>
		<label>Nhap cmt</label>
		<input type="text" th:field="*{CMT}"><br><br>
		<label>Nhap name</label>
		<input type="text" th:field="*{name}"><br><br>
		<label>Nhap date of birth</label>
		<input type="date" th:field="*{dateOfBirth}"><br><br>			
		<label>Nhap phoneNumber</label>
		<input type="text" th:field="*{phoneNumber}"><br><br>
		<div class="col text-center">
			<button class="btn btn-primary align-items-center">OK</button>
		</div>
	</form>
</div>
	<script>
	</script>
</body>
</html>