<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Company</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	<style>
		td{
			width: 250px;
		}
		body{
			height: 100%;
		}
		input[type=text]{
			width: 100%;
			margin-bottom: 10px;
		}
	  	button{
	  		margin-bottom: 10px;
	  		width: 69px;
	  	}
	</style>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
      	<a class="navbar-brand mr-1" href="/" style="text-transform: uppercase">Phần mềm quản lý</a>
    </nav>
    <ul class="sidebar navbar-nav bg-dark" style="position: absolute;width: 15%;height:1150px">
        
        <li class="nav-item">
          <a class="nav-link" href="/company" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Company</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employeeCompany" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Employee Company</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/service" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Service</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/employeeBuilding" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Employee Building</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Payment</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/access" style="text-align: center;text-decoration: none;color: white">
            <i class="fas fa-fw fa-home"></i>
            <span>Access</span>
          </a>
        </li>
      </ul>
      <div class="container pt-2 border border-dark rounded-lg" style="position: absolute;left: 25%;top: 10% ;width: 600px">
	<h1>Update New Company!</h1>
	<form th:object="${c1}" method="POST">
		<input name="_method" type="hidden" value="PUT" />
		<!--<label>Nhap code</label>
		<input type="text" th:field="*{code}"><br><br> -->
		<label>Nhap name</label>
		<input type="text" th:field="*{name}"><br><br>
		<label>Nhap characterCapital</label>
		<input type="text" th:field="*{characterCapital}"><br><br>			
		<label>Nhap field</label>
		<input type="text" th:field="*{field}"><br><br>
		<label>Nhap address</label>
		<input type="text" th:field="*{address}"><br><br>
		<label>Nhap phoneNumber</label>
		<input type="text" th:field="*{phoneNumber}"><br><br>
		<label>Nhap area</label>
		<input type="text" th:field="*{area}"><br><br>
		<div class="grid">
			<div class="service-group" id="vesinh">
				<h3>Chon dich vu ve sinh:</h3>
				<div th:each="service : ${vesinh}">
					<input name="services" type="checkbox"
						th:value="${service.id}" /> <span th:text="${service.name}">
						SERVICE</span><br />
				</div>
			</div>
			<div class="service-group" id="anuong">
				<h3>Chon dich vu an uong:</h3>
				<div th:each="service : ${anuong}">
					<input name="services" type="checkbox"
						th:value="${service.id}" /> <span
						th:text="${service.name}">SERVICE</span><br />
				</div>
			</div>
			<div class="service-group" id="tronggiuxe">
				<h3>Chon dich vu trong giu xe:</h3>
				<div th:each="service : ${tronggiuxe}">
					<input name="services" type="checkbox"
						th:value="${service.id}" /> <span th:text="${service.name}">SERVICE</span><br />
				</div>
			</div>
			<div class="service-group" id="baove">
				<h3>Chon dich vu bao ve:</h3>
				<div th:each="service : ${baove}">
					<input name="services" type="checkbox"
						th:value="${service.id}" /> <span
						th:text="${service.name}">SERVICE</span><br />
				</div>
			</div>
			<div class="service-group" id="baotrithietbi">
				<h3>Chon dich vu bao tri thiet bi:</h3>
				<div th:each="service : ${baotrithietbi}">
					<input name="services" type="checkbox"
						th:value="${service.id}" /> <span
						th:text="${service.name}">SERVICE</span><br />
				</div>
			</div>
		</div>
		<h3>Chon nhan vien cong ty</h3>
		<div class="grid">
			<div class="employeeCompany-group" id="employees">
				<div th:each="employee : ${employees}">
					<input name="employee" type="checkbox"
						th:value="${employee.accessCard}" /> <span th:text="${employee.CMT}">
						Employee</span><br />
				</div>
			</div>
		</div>
		<button>OK</button>
	</form>
	<script>
	</script>
</body>
</html>